.box1 {
  width: 150px;
  height: 150px;
  border: 3px solid blue;
  padding: 10px;
  box-sizing: content-box;
  /* content-box gives you the default CSS box-sizing behavior. If you set an element's width to 100 pixels, 
  then the element's content box will be 100 pixels wide, and the width of any border or padding will be 
  added to the final rendered width, making the element wider than 100px. */
}

.box2 {
  width: 150px;
  height: 150px;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
  /* border-box tells the browser to account for any border and padding in the values you specify for an 
  element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include 
  any border or padding you added, and the content box will shrink to absorb that extra width. This 
  typically makes it much easier to size elements. */
}
