@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  /* change the svg color from black to white */
  filter: invert(1);
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  order: 3;
  margin-left: auto;
}

nav {
  order: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease-in-out;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 136, 169, 1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
