.container {
  border: 1px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-rows: 100px 200px 300px; */
  /* grid-template: rows / columns; */
  /* grid-template: 100px 200px 300px / 25% 25% 25%; */
  /* grid-template: 100px 200px 300px / 1fr 3fr 1fr ; */
  grid-template: 100px 200px 300px / repeat(4, 1fr);
  gap: 10px;
}

.box {
  background-color: orange;
  border: 1px solid blue;
}

.box7 {
  order: -1; /* 0 is default value, so by setting it to -1 box7 will be first in our grid */
}
