.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: #fff;
  border-bottom: 1px solid rgb(228, 228, 228);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 20px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  position: relative;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); /* inset will put the shadow inside of an element instead of outside */
  width: 0; /* removes the default width, thus allowing the searchbar to shring as much as possible */
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-icon-container .tooltip,
.profile-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: #fff;
  padding-top: 4px;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none; /* disables .tooltip:hover */
  white-space: nowrap; /* prevents the text from wrapping around */
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.profile-icon-container:hover .tooltip {
  opacity: 1;
}

.search-button {
  width: 60px;
  height: 38px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(194, 194, 194);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-icon-container,
.profile-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(236, 236, 236);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0; /* this prevents the 'right-section' from shrinking when resizing the page */
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  color: white;
  background-color: rgb(197, 0, 0);
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 50%;
}

.current-user-picture {
  height: 32px;
  border-radius: 50%;
}
